<IfModule mod_rewrite.c>
  RewriteEngine On

  # Se o arquivo ou diretório existir, serve ele diretamente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Caso contrário, redireciona tudo para o index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
