<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Regra para não quebrar a API PHP (tudo que for pra /api vai pro arquivo real)
  RewriteCond %{REQUEST_URI} ^/api/ [NC]
  RewriteRule ^ - [L]

  # Regra para o React SPA: tudo que não for arquivo/pasta real vai para index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [QSA,L]
</IfModule>